
<body>
  <div>
    <% if @corporation.errors.any? %>
      <% @corporation.errors.full_messages.each do |message| %>
        <ul><%= message %></ul>
      <% end %>
    <% end %>
  </div>
  <div>
    <%= form_for @corporation do |f| %>
        <%= f.label :corporation_name, 'Corporation Name' %>
        <%= f.text_field :corporation_name %>

        <%= f.label :parent_id, 'Is this a Parent Company?' %>
        <%= f.check_box :parent_id %>

        <%= f.submit 'Add New Corporation' %>
      <% end %>
  </div>
</body>
